<ion-view title="myEats">
    <ion-content>

        <header>my Eats</header>
        <img src="img/batPigLogo.svg" class="batPigLogo" alt="">
        <ion-list ng-controller="myEatsCtrl" show-reorder="true" show-delete="shouldShowDelete">
            <ion-item ng-repeat="restaurant in restaurants">
                <ion-delete-button class="ion-minus-circled" ng-click="deleteMyEatsRestaurant($index)"></ion-delete-button>
                {{restaurant}}
                <ion-reorder-button class="ion-navicon" on-reorder="moveRestaurant(restaurant, $fromIndex, $toIndex)">
                </ion-reorder-button>
            </ion-item>
        </ion-list>
        <ion-toggle ng-model="shouldShowDelete">
          Show Delete?
        </ion-toggle>
        <ng-restaurantcard></ng-restaurantcard>
    </ion-content>
</ion-view>
