<div class="list card">

  <div class="item item-avatar">
    <img src="mcfly.jpg">
    <h2>Marty McFly</h2>
    <div class="sub-head"><span class="cuisine">fast food</span> <span class="hours">open until 1:30 AM</span></div>
    <div class="miles">1.3 miles</div>
    <p class="blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, nulla accusantium eius, non consequuntur odit quae fugit debitis! Consequuntur deleniti eius maxime accusantium dolorum beatae, aperiam amet numquam animi repellendus.</p>
  </div>



</div>
