<ion-view view-title="Restaurant">
    <ion-content>
        <header class="col">Restaurant</header>
        <img src="img/batPigLogo.svg" class="batPigLogo" alt="">
        <h2>This is the page for restaurants</h2>
        <div class="row">
            <a class="col col-33 button oncheck-success" href="#/app/submit-tip">
                Submit Tip
            </a>
            <button class="col col-66 button button-block oncheck-neutral" ng-click="addMyEatsRestaurant('Moobys')">
                Add to My Eats
            </button>
        </div>
    </ion-content>
</ion-view>
