<ion-view view-title="Submit Tip">
  <form action="http://localhost:8080/tips" target="success" method="post" accept-charset="utf-8" name="form">
    <ion-content class="padding has-footer">

      <div align="center">
        <h3 style="color:red;">Bobs Burgers</h3>
        <p>conveniently located on Ocean Avenue</p>
      </div>

      <br>
      <div align="center" style="border:1px solid black;">
        <input type="file" accept="image/*" id="picture" file-mode="myFile"/>
        <br>
        <img height=35% width=35% id="thumbnail"/>
      </div>

      <br>
      <div align="center">
        <h5>What would you like to report?</h5>

      <textarea name="message" placeholder="Enter a message" rows=16 cols=45 style="border:1px solid black"></textarea>
      </div>

      <input type="hidden" name="evidence" id="evidence"/>
      <input type="hidden" name="userId" value= 69 id="userId"/>
      <input type="hidden" name="locationId" value= "Bobs Burgers" id="locationId"/>

      <iframe name="success" >You did it!</iframe>
    </ion-content>

    <ion-footer-bar class="bar-subfooter padding">
      <button class="button button-block" type="submit" on-tap="uploadFile()">Submit</button>
    </ion-footer-bar>
    <ion-footer-bar class="bar-footer padding">
      <button class="button button-block" type="reset" on-tap="clear()">Clear</button>
    </ion-footer-bar>
  </form>
</ion-view>
