/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
ion*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;
// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
// include colors here

@import "scss/partials/colors/iceCreamPowerful";
// sizing and spacing

@import "scss/partials/sizes/sizes.scss";
@import "scss/partials/components/tabNav.scss";
@import "scss/partials/components/search.scss";
@import "scss/partials/components/RestaurantCard.scss";
@import "scss/partials/components/myEats.scss";
@import "scss/partials/components/submit-tip.scss";

//fonts
@font-face {
    font-family: 'BebasNeueBook';
    src: url('fonts/BebasNeueBook.eot');
    src: url('fonts/BebasNeueBook.eot') format('embedded-opentype'),
         url('fonts/BebasNeueBook.woff2') format('woff2'),
         url('fonts/BebasNeueBook.woff') format('woff'),
         url('fonts/BebasNeueBook.ttf') format('truetype'),
         url('fonts/BebasNeueBook.svg#BebasNeueBook') format('svg');
}
@font-face {
    font-family: 'BebasNeueBold';
    src: url('fonts/BebasNeueBold.eot');
    src: url('fonts/BebasNeueBold.eot') format('embedded-opentype'),
         url('fonts/BebasNeueBold.woff2') format('woff2'),
         url('fonts/BebasNeueBold.woff') format('woff'),
         url('fonts/BebasNeueBold.ttf') format('truetype'),
         url('fonts/BebasNeueBold.svg#BebasNeueBold') format('svg');
}
@font-face {
    font-family: 'BebasNeueLight';
    src: url('fonts/BebasNeueLight.eot');
    src: url('fonts/BebasNeueLight.eot') format('embedded-opentype'),
         url('fonts/BebasNeueLight.woff2') format('woff2'),
         url('fonts/BebasNeueLight.woff') format('woff'),
         url('fonts/BebasNeueLight.ttf') format('truetype'),
         url('fonts/BebasNeueLight.svg#BebasNeueLight') format('svg');
}
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeueRegular.eot');
    src: url('fonts/BebasNeueRegular.eot') format('embedded-opentype'),
         url('fonts/BebasNeueRegular.woff2') format('woff2'),
         url('fonts/BebasNeueRegular.woff') format('woff'),
         url('fonts/BebasNeueRegular.ttf') format('truetype'),
         url('fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
}
@font-face {
    font-family: 'BebasNeueThin';
    src: url('fonts/BebasNeueThin.eot');
    src: url('fonts/BebasNeueThin.eot') format('embedded-opentype'),
         url('fonts/BebasNeueThin.woff2') format('woff2'),
         url('fonts/BebasNeueThin.woff') format('woff'),
         url('fonts/BebasNeueThin.ttf') format('truetype'),
         url('fonts/BebasNeueThin.svg#BebasNeueThin') format('svg');
}
@font-face {
    font-family: 'LoraRegular';
    src: url('fonts/LoraRegular.eot');
    src: url('fonts/LoraRegular.eot') format('embedded-opentype'),
         url('fonts/LoraRegular.woff2') format('woff2'),
         url('fonts/LoraRegular.woff') format('woff'),
         url('fonts/LoraRegular.ttf') format('truetype'),
         url('fonts/LoraRegular.svg#LoraRegular') format('svg');
}

.bar-stable.bar.bar-header{
  background-image: none;
  border:none;
  background:transparent;
}
.nav-bar-block, .title.title-center.header-item{
  background-color:transparent;
  color:transparent;
}
header{
  text-align: center;
  font-size:$large;
  color:$primary;
  margin-top:20px;
  text-transform:uppercase;
  font-family: bebasNeuebook;
}
.map-responsive{
  position:relative;
  top:-75px;
}
.batPigLogo{
  position:relative;
  z-index: 2;
  margin:0 auto;
  display:block;
}
button{
  font-family: bebasNeueRegular;

  &.oncheck-success{
    background:$primary;
    color:white;
    font-size: $medium;
    letter-spacing: 1px;
  }
  &.oncheck-neutral{
    background:transparent;
    color:$primary;
    font-size: $medium;
    letter-spacing: 1px;
  }
}
